{% extends "tester/base.html" %}

{% block main %}
<h3>Aide pour l'intégration</h3>

<p>Nous mettons à votre disposition des outils pour vous aider dans l'intégration de vos applications.</p>

<ul>
  <li>Si vous êtes un <i>moteur de recherche</i>, vous aurez besoin de lister les taxis disponibles sur une zone, et à défaut en créer. Le menu <a href="{{ url_for('tester.operator') }}">opérateur</a> vous permet d'effectuer ces actions.</li>
  <li>Si vous êtes un <i>opérateur</i>, vous aurez besoin de recevoir une demande de course de la part d'un client. Cliquez alors sur le menu <a href="{{ url_for('tester.search') }}">moteur de recherche</a>.</li>
</ul>
{% endblock %}
