<p>La mise à jour de la géolocalisation d'un taxi peut prendre plusieurs secondes. Si la position n'est pas correcte, tentez de rafraichir la page.</p>

{% if not last_locations %}
<p class="alert alert-warning">Aucune donnée de localisation n'est disponible pour ce taxi</p>
{% else %}
  {% for operator, last_location in last_locations.items()  %}
  <h6>Dernière mise à jour avec l'opérateur <i>{{ operator.commercial_name or operator.email }}</i></h6>
<ul>
  <li><strong>Dernière mise à jour</strong> : {{ last_location.date.strftime('le %d/%m/%Y à %H:%M:%S') }}</li>
  <li><strong>Longitude</strong> : {{ last_location.lon|round(6) }}</li>
  <li><strong>Latitude</strong> : {{ last_location.lat|round(6) }}</li>
</ul>
  {% endfor %}
{% endif %}
