{% block header %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% if self.style() %}
    <style type="text/css">
      {% block style %}{% endblock %}
    </style>
    {% endif %}
    <title>Registre des taxis - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home.home') }}">Registre des taxis</a>
      {% if request.cookies.logas_real_api_key %}
      <small class="text-danger">(Connecté en tant que {{ current_user.commercial_name or "" }} / {{ current_user.email or "" }})</small>
      {% endif %}

      {% if current_user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link{% if request.path == url_for('admin.index') %} active{% endif %}" href="{{ url_for('admin.index') }}">Administration</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link{% if request.path == url_for('dashboards.index') %} active{% endif %}" href="{{ url_for('dashboards.index') }}">Tableaux de bord</a>
            </li>

            <li class="nav-item">
              <a class="nav-link{% if request.path == url_for('documentation.index') %} active{% endif %}" href="{{ url_for('documentation.index') }}">Documentation</a>
            </li>

            <li class="nav-item">
              <a class="nav-link{% if request.path == url_for('profile.edit') %} active{% endif %}" href="{{ url_for('profile.edit') }}">Mon compte</a>
            </li>

            <li class="nav-item">
                <a class="nav-link{% if request.path == url_for('admin.logas_logout') %} active{% endif %}" href="{{ url_for('admin.logas_logout') }}">Déconnexion</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="bg-dark">
        <div class="container">
          <img src="{{ url_for('static', filename='images/logo_le.taxi.svg') }}" alt="le.taxi logo" />
        </div>
    </footer>

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>

    {% if self.scripts() %}
    <script>
        $(document).ready(function () {
            {% block scripts %}{% endblock %}
        });
    </script>
    {% endif %}
  </body>
</html>
{% endblock %}
