{% block header %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% if self.style() %}
    <style type="text/css">
      {% block style %}{% endblock %}
    </style>
    {% endif %}
    <title>Registre des taxis - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home.home') }}">Registre des taxis</a>
      {% if request.cookies.logas_sessions %}
      <small class="text-danger">(Connecté en tant que {{ current_user.commercial_name or "" }} / {{ current_user.email or "" }})</small>
      {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link{% if url_for('admin.index') in request.path %} active{% endif %}" href="{{ url_for('admin.index') }}">Administration</a>
            </li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link{% if url_for('dashboards.index') in request.path %} active{% endif %}" href="{{ url_for('dashboards.index') }}">Tableaux de bord</a>
            </li>

            {% if current_user.managed %}
                <li class="nav-item">
                    <a class="nav-link{% if url_for('manager.index') in request.path %} active{% endif %}" href="{{ url_for('manager.index') }}">Gestion des opérateurs</a>
                </li>
            {% endif %}
            {% endif %}

            <li class="nav-item">
              <a class="nav-link{% if url_for('documentation.index') in request.path %} active{% endif %}" href="{{ url_for('documentation.index') }}">Documentation</a>
            </li>

            {% if config.INTEGRATION_ENABLED and current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link{% if url_for('integration.index') in request.path %} active{% endif %}" href="{{ url_for('integration.index') }}">Intégration</a>
            </li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link{% if url_for('profile.edit') in request.path %} active{% endif %}" href="{{ url_for('profile.edit') }}">Mon compte</a>
            </li>

            <li class="nav-item">
              <form action="{{ url_for('logout.logout') }}" method="POST" class="form-inline">
                <button type="submit" class="btn btn-link nav-link">Déconnexion</button>
                {{ logout_form.hidden_tag() }}
              </form>
            </li>
            {% endif %}
          </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="bg-dark">
        <div class="container">
          <img src="{{ url_for('static', filename='images/logo_le.taxi.svg') }}" alt="le.taxi logo" />
        </div>
    </footer>

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chartjs-plugin-colorschemes/dist/chartjs-plugin-colorschemes.min.js') }}"></script>

    {% if self.scripts() %}
    <script>
        $(document).ready(function () {
            {% block scripts %}{% endblock %}
        });
    </script>
    {% endif %}
  </body>
</html>
{% endblock %}
