{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% block title %} Registre des Taxis {% endblock %}
{% block navbar %}
<style>
    .form {
        margin: 20px;
    }
</style>
{% set navigation_bar = [
] -%}

{% set admin_bar = [
    ('#', 'admin', 'Admin', [
      ('/admin/hails', 'Hails'),
    ])
] if current_user.has_role('admin') else [] %}

{% set user_bar = admin_bar + [
    ('/user_key', 'user_key', 'Clé', None),
    ('/documentation', 'documentation', 'Documentation', None),
    ('/user/form', 'user_form', 'Mon compte', None),
    ('/logout', 'logout', 'Déconnexion', None)
] -%}
{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/   ">Registre des taxis</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% for href, id, caption, submenus in user_bar %}
        {% if not submenus %}
        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% else %}
        <li class="nav-item dropdown{% if id == active_page %} active{%endif %}">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ caption }}</a>
          <ul class="dropdown-menu nav navbar-nav">
            {% for href, caption in submenus %}
            <li><a class="dropdown-item" href="{{ href }}">{{ caption }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}
{% block content %}
{{ super() }}
{{util.flashed_messages()}}
{% endblock %}
