{% set active_page = 'user_key' %}
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/pure-tables.css')}}">
<script src="https://cdn.rawgit.com/github/fetch/master/fetch.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/riot/2.3.17/riot+compiler.min.js"></script>
<script src="/static/js/hails.js" type="riot/tag"></script>
<hails></hails>
<script>
riot.mount('hails', {apikey:"{{apikey}}"});
</script>
{% endblock %}
