{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/pure-tables.css')}}">
{% endblock %}

{% block content %}
  {{super()}}
{% if user_name_list > 0 %}
{% if is_admin %}
Users:
<select onchange="change_user(this.value);">
    <option></option>
    {% for user in user_name_list %}
    <option value="{{ user }}">{{ user }}</option>
    {% endfor %}
</select>
{% endif %}
<div class="row">
    <div class="col-md-6">
<table id="taxis" class="pure-table" style="visibility:hidden">
    <thead>
        <tr>
            <td>Id</td>
            <td>Status final</td>
            <td>Distance client/taxi</td>
            <td>Map</td>
            <td>Explore</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<div id="charts" class="col-md-6"></div>
</div>
{% endif %}
{% endblock %}


{% block scripts %}
{% if user_name_list > 0 %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script type="text/javascript">
var titles = {
    "ok": "Finalisée",
    "declined_by_taxi": "Refusée par le taxi",
    "declined_by_customer": "Refusée par le client"
};
function change_user(user_name) {
    $.ajax({
          url: '/table?user='+user_name,
          type: 'GET',
          dataType: 'json',
          beforeSend: function(xhr) {
            xhr.setRequestHeader("X-VERSION", "2");
            xhr.setRequestHeader("X-API-KEY", "{{ apikey }}");
            xhr.setRequestHeader("Accept", "application/json");
          },
          success: function(data) {
            $("#taxis").css('visibility', 'visible');
            var sel = $("#taxis tbody");
            sel.empty();
            data.data.map(function(taxi) {
                sel.append('<tr><td colspan="4">'
                    +'<b>Taxi '+ taxi["taxi"]["licence"] +' ('+ taxi["id"] +')</b></td></tr>'
                );
                if (document.URL.split('#').indexOf("showdetails") != -1) {
                    sel.append(
                            '<tr><td colspan="4">Courses reçues: ' + taxi["taxi"]["received"]
                          + ' acceptées: ' + taxi["taxi"]["accepted"]
                          + ' confirmées client: ' + taxi["taxi"]["accepted_customer"]
                          + '</td></tr>'
                    );
                }
                taxi.hails.map(function(hail) {
                    sel.append('<tr>' +
                    '<td>' + hail[0] + '</td>' +
                    '<td>' + hail[1] + '</td>' +
                    '<td>' + hail[2] + '</td>' +
                    '<td><a href="/hails/' + hail[0] + '/_map">Map</a></td>' +
                    '<td><a href="/hails/' + hail[0] + '/_explore">Explore</a></td></tr>');
                });
            });
        }
    });
    if (document.URL.split('#').indexOf("showgraph") == -1) {
        return;
    }
    $.ajax({
          url: '/stats_hails?user='+user_name,
          type: 'GET',
          dataType: 'json',
          beforeSend: function(xhr) {
            xhr.setRequestHeader("X-VERSION", "2");
            xhr.setRequestHeader("X-API-KEY", "{{ apikey }}");
            xhr.setRequestHeader("Accept", "application/json");
          },
          success: function(data) {
            $("#charts").empty();
            data.data.map(function(v, index1) {
              if (data.data.length > 1) {
                $("#charts").append($("<h2>" + v.email + "</h2>"));
              }
              Object.keys(v).map(function(key) {
                if (key == 'email' || v[key].length == 0 || key == "total") {
                  return;
                }
                var newChart = $("<canvas></canvas>")
                      .attr("width", 600).attr("height", 400)
                      .attr("id", "canva-"+index1+"-"+key)
                ;
                $("#charts").append(newChart);
                new Chart(newChart, {
                    type: 'line',
                    data: {
                        labels: Object.keys(v[key]).sort().map(
                          function(d){
                              return new Date(d).toISOString().slice(0, 10);
                          }
                        ),
                        datasets: [{
                            label: titles[key],
                            data: Object.keys(v[key]).sort().map(
                              function(d){
                                return ((v[key][d]/v['total'][d])*100).toFixed(2);
                              })
                        }]
                    },
                    options: {
                        scales: {
                          yAxes: [{
                              display: true,
                              ticks: {
                                  beginAtZero: true,
                                  max: 100
                              }
                          }]
                        },
                        responsive: false,
                        maintainAspectRatio: true,
                        tooltips: {
                            callbacks:{
                                label: function(items, data) {
                                    return [items.yLabel + "%",
                                        "# " + v[key][items.xLabel]];
                                }
                            }
                        }
                    },
                 });
               });
            });
          },
    });
}

window.onload = function loaded() {
    change_user("{{user_name_list[0]}}");
}

</script>
  {{super()}}
{% endif %}
{% endblock %}
