{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% block title %} Registre des Taxis {% endblock %}
{% block styles %}
 {{super()}}
 <style>
.menu-index ul{
height:auto;
}
.bigup {
font-size: 45px;
}
.container .row {
text-align: center;
padding: 30px;
margin-top: 100px;
background-color: #EFEEEC;
}
.container .row h2 {
font-size: 15px;
}
.stat {
background-color: #FFFFFF;
min-height: 150px;
margin: 15px;
}
.section 
 </style>
<link rel="stylesheet"
      href="{{url_for('static', filename='css/simple-sidebar.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='css/pure-tables.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='css/vertical-nav.css')}}">
<link rel="stylesheet" 
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
{% block content %}
<div id="stats-container" class="container">
<div class="row">

<h1>Nombres de Taxis actifs</h1>
{% if nb_taxis|length > 1 %} 
<div style="float:right">
Départment : <select onChange="location.search = location.search.replace(/[^&$]*/i, 'dep=' + $(this).val());">
<option value="00" {% if dep==0 %} selected="selected"{% endif %}>France entière</option>
{% for n in range(1,10) %}
<option value="0{{ n }}" {% if dep==n %} selected="selected"{% endif %}>0{{ n }}</option>
{% endfor %}
{% for n in range(10,96) %}
<option value="{{ n }}" {% if dep==n %} selected="selected"{% endif %}>{{ n }}</option>
{% endfor %}
</select>
</div>
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td>Opérateur</td><td title="Taxis actifs sur les dernières 24h">Taxis actifs du jour</td><td title="Taxis actifs sur les derniers 7j">Taxis actifs de la semaine</td></tr></thead>
       {% for k, v in nb_taxis|dictsort %}
       {% if k != 'Total' %}
       <tr><td>{{ k }}</td><td>{{ v['nactivetaxis']|default("0", True) }}</td><td>{{ v['ntaxis']|default("0", True) }}</td></tr>
       {% endif %}
       {% endfor %}
       <tr><td>Total</td><td>{{ nb_taxis['Total']['nactivetaxis']|default("0", True) }}</td><td>{{ nb_taxis['Total']['ntaxis']|default("0", True) }}</td></tr>
</table>
{% else %}
<div class="col-sm-3">
<div class="stat">
<h2>Hier</h2><hr>
<div class="bigup">{{ nb_taxis_hier['nactivetaxis']|default('0') }}</div></div></div>
<div class="col-sm-3">
<div class="stat">
<h2>Depuis une semaine</h2><hr>
<div class="bigup">{{ nb_taxis_hier['ntaxis']|default('0') }}</div></div></div>
<div class="col-sm-6">
<div class="stat">
<img src="http://dash.api.taxi/render/dashboard-solo/db/taxis-par-jour?from={{ last_week()  }}&to={{ yesterday()  }}&theme=light&panelId=1&width=450&height=150">
</div>
</div>

{% endif %}


</div>
<div class="row">
<h1>Nombres de Courses</h1>
{% if nb_hails|length > 1 %} 
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td> </td><td>Courses OK du jour</td><td>(Demandes de course du jour)</td><td>Courses OK cumulées</td><td>(Demandes de course cumulées)</td></tr></thead>
       {% for k, v in nb_hails|dictsort%}
       {% if k != 'Total' %}
       <tr>
           <td>{{ k }}</td><td>{{ v['nhails_ok_d']|default("0", True) }}</td>
           <td>({{ v['nhails_d']|default("0", True) }})</td>
           <td>{{ v['nhails_ok_y']|default("0", True) }}</td>
           <td>({{ v['nhails_y']|default("0", True) }})</td>
       </tr>
       {% endif %}
       {% endfor %}
       <tr><td>Total</td>
           <td>{{ nb_hails['Total']['nhails_ok_d']|default("0", True) }}</td>
           <td>({{ nb_hails['Total']['nhails_d']|default("0", True) }})</td>
           <td>{{ nb_hails['Total']['nhails_ok_y']|default("0", True) }}</td>
           <td>({{ nb_hails['Total']['nhails_y']|default("0", True) }})</td>
       </tr>
</table>
{% else %}
<div class="col-sm-3">
<div class="stat">
<h2>Ok du jour</h2><hr>
<div class="bigup">{{ nb_hails_hier['nhails_ok_d']|default("0") }}</div>
</div>
</div>
<div class="col-sm-3">
<div class="stat">
<h2>Demandes de courses du jour</h2><hr>
<div class="bigup">{{ nb_hails_hier['nhails_d']|default("0") }}</div>
</div>
</div>
<div class="col-sm-3">
<div class="stat">
<h2>Courses Ok depuis le début</h2><hr>
<div class="bigup">{{ nb_hails_hier['nhails_ok_y']|default("0", True) }}</div>
</div>
</div>
<div class="col-sm-3">
<div class="stat">
<h2>Demandes de courses depuis le début</h2><hr>
<div class="bigup">{{ nb_hails_hier['nhails_y']|default("0", True) }}</div>
</div>
</div>
{% endif %}


{% if taxis %}
<h2>Taxis actifs</h2>
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td>Taxi</td><td>Opérateur</td><td>INSEE</td><td>Ville</td><td>ADS</td><td>Carte Pro</td><td>rafraichissment</td></tr></thead>
    {% for k, v in taxis %}
    <tr><td>{{ k }}</td><td>{{ v['added_by'] }}</td><td>{{ v['ads.insee'] }}</td><td>{{ v['zupc.nom'] }}</td><td>{{ v['ads.numero'] }}</td><td>{{ v['driver.professional_licence'] }}</td><td>{{ v['last_update_at'] }}</td></tr>
     {% endfor %}
</table>
{% endif %}

{% if hails %}
 <h2>Courses récentes</h2>
 <table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
     <thead><tr><td>Date</td><td>Course</td><td>Moteur</td><td>Opérateur</td><td>INSEE</td><td>Ville</td><td>Etat</td></tr></thead>
     {% for k, v in hails %}
     <tr><td>{{ v['creation_datetime'] }}</td><td>{{ k }}</td><td>{{ v['added_by'] }}</td><td>{{ v['operator'] }}</td><td>{{ v['ads.insee'] }}</td><td>{{ v['zupc.nom'] }}</td><td>{{ v['last_status'] }}</td></tr>
      {% endfor %}
 </table>
 {% endif %}
</div>
</div>



{% endblock %}
