{% extends "base.html" %}

{% block content %}
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
 <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://cdn.rawgit.com/github/fetch/master/fetch.js"></script>
<ul>
    {% for zupc in list_zupc %}
    <li><a href="#" onclick="display_geojson({{zupc.id}})">{{ zupc.nom }}</a></li>
    {% endfor %}
<ul>
     <div id="mapid" style="height:800px;"></div>
     <script type="text/javascript">
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.emerald',
    accessToken: '{{mapbox_token}}'
}).addTo(mymap);
        var geojsonLayer = null;

        function display_geojson(zupc_id) {
            if (geojsonLayer != null) {
                mymap.removeLayer(geojsonLayer);
            }
            var headers = {"Accept": "application/json",
                           "X-VERSION": 2,
                           "X-API-KEY": "{{apikey}}",
            };
            fetch("/zupc/"+zupc_id+"/_show_temp_geojson", {headers:headers})
                .then(function(response) {
                    return response.json();
                })
            .then(function(r) {
                geojsonLayer = L.geoJson(r.data).addTo(mymap);
                mymap.fitBounds(geojsonLayer.getBounds());
            })
        }
     </script>
{% endblock %}
