{% extends "base.html" %}

{% block title %}Intégration{% endblock %}

{% block content %}
<div class="page-sidebar">
  <nav>
    <div class="menu-category"><a href="{{ url_for('integration.index') }}">Intégration</a></div>
    <ul class="list-unstyled">

        <li><a{% if request.path.startswith(url_for('integration.operator')) %} class="active"{% endif %} href="{{ url_for('integration.operator') }}">Opérateur</a></li>

        <li><a{% if request.path.startswith(url_for('integration.search')) %} class="active"{% endif %} href="{{ url_for('integration.search') }}">Moteur de recherche</a></li>
    </ul>
  </nav>

  <main>
  {% block main %}{% endblock %}
  </main>
</div>
{% endblock %}
