{% extends "integration/base.html" %}
{% import "/macros/csrf.html" as csrf %}

{% block main %}
<h3>Détails du taxi de test {{ taxi.id }}</h3>

<h5>Statut du taxi</h5>

{% include "integration/partial/taxi_status_table.html" %}

<p>Vous pouvez changer le statut du taxi avec l'opérateur <i>{{ integration_user.commercial_name or integration_user.email }}</i>. Seuls les taxis avec le statut <i>free</i> dont la géolocalisation a été mise à jour il y a moins de deux minutes sont visibles sur la carte et peuvent recevoir des courses.</p>

{{ csrf.csrf_error(status_form) }}

<form class="mb-3" method="POST" novalidate autocomplete="off">
  <div class="form-row">
    <div class="col">
      <select name="{{ status_form.status.name }}" class="custom-select" required>
        {% for value, display in status_form.status.choices %}
        <option value="{{ value }}">{{ display }}</option>
        {% endfor %}
      </select>

      {% if status_form.errors.status %}
      <span class="text-danger">{{ status_form.errors.status|join(' ') }}</span>
      {% endif %}
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary {% if status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" name="{{ status_form.submit_taxi_status.name }}" value="submit">Modifier</button>
    </div>
  </div>
  {{ status_form.hidden_tag() }}
</form>

<h5>Localisation</h5>

{% include "integration/partial/taxi_last_locations.html" %}

<h5>Mise à jour de la localisation</h5>

<p>Renseignez les coordonnées vers lesquelles vous souhaitez déplacer le taxi avec l'opérateur <i>{{ integration_user.commercial_name or integration_user.email }}</i>. Une fois la modification effectuée, le taxi sera considéré comme libre et vous pourrez le voir sur la carte.</p>

{{ csrf.csrf_error(location_form) }}

<form class="mb-3" method="POST" novalidate autocomplete="off">
  <div class="form-row">
    <div class="col">
      <input name="{{ location_form.lon.name }}" type="text" class="form-control" placeholder="Longitude"{% if location_form.lon.data %} value="{{ location_form.lon.data }}"{% elif last_locations %} value="{{ (last_locations.values()|first).lon|round(6) }}"{%endif %}>
      {% if location_form.errors.lon %}
      <span class="text-danger">{{ location_form.errors.lon|join(' ') }}</span>
      {% endif %}
    </div>
    <div class="col">
      <input name="{{ location_form.lat.name }}" type="text" class="form-control" placeholder="Latitude"{% if location_form.lat.data %} value="{{ location_form.lat.data }}"{% elif last_locations %} value="{{ (last_locations.values()|first).lat|round(6) }}"{%endif %}>
      {% if location_form.errors.lat %}
      <span class="text-danger">{{ location_form.errors.lat|join(' ') }}</span>
      {% endif %}
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary {% if location_form.errors %}btn-danger{% else %}btn-dark{% endif %}" name="{{ location_form.submit_taxi_location.name }}" value="submit">Modifier</button>
    </div>
  </div>
  {{ location_form.hidden_tag() }}
</form>

<p class="text-info"><strong>Attention !</strong> L'autorisation de stationnement de ce taxi est limitée à la ZUPC de <strong>{{ taxi.ads.zupc.nom }}</strong>. Si vous déplacez le taxi en dehors de cette zone, il ne sera pas visible sur la carte.</p>

<h5>Liste des courses du taxi</h5>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Id course</th>
      <th>Date</th>
      <th>Operateur</th>
      <th>Moteur de recherche</th>
      <th>Id taxi</th>
      <th>Status final</th>
      <th>Distance client/taxi</th>
    </tr>
  </thead>
</table>
{% endblock %}

{% block scripts %}
var table = $('#table').DataTable({
  language: {
    emptyTable: 'Aucune course',
    loadingRecords: 'Chargement en cours...',
    zeroRecords: 'Aucun résultat trouvé',
    paginate: {
      previous: '&lt;',
      next: '&gt;'
    }
  },
  // Remove sorting.
  bSort: false,
  // Number of items per page.
  pageLength: 50,
  // Do not filter or paginate client side, send query for each draw.
  serverSide: true,
  // Elements to display for the table. Reference: https://datatables.net/reference/option/dom
  // tp: display 't'able and 'p'agination. Other default items (info, search
  // input, ...) are not displayed.
  sDom: 'tp',
  // API endpoint called.
  ajax: {
    url: "{{ url_for('api.hails') }}?integration",
    dataSrc: 'data'
  },
  // Mapping between API response and columns.
  columns: [
    {
      data: 'id',
      render: function (data, type, row) {
        var url = "{{ url_for('integration.operator_hail_details', hail_id='HAIL_ID') }}".replace('HAIL_ID', data);
        return '<a href="' + url + '">' + data + '</a>';
      }
    },
    {
      data: 'added_at',
      render: function (data, type, row) {
        return moment(data).format('DD/MM/YYYY HH:mm:ss');
      }
    },
    {
      render: function (data, type, row) {
        return row.operateur.commercial_name || '<i>' + row.operateur.id + '</i>';
      }
    },
    {
      render: function (data, type, row) {
        return row.moteur.commercial_name || '<i>' + row.moteur.id + '</i>';
      }
    },
    {name: 'taxi_id', data: 'taxi.id'},
    {data: 'status'},
    {
      data: 'distance',
      render: function (data, type, row) {
        return data + ' mètres';
      }
    },
  ],
  // aoSearchCols defines the filters that are set when the table is loaded.
  // Since this page displays the details of a taxi, let's filter on the taxi
  // id.
  aoSearchCols: [
    null,
    null,
    null,
    null,
    {sSearch: '{{ taxi.id }}'},
    null,
    null
  ]
});
{% endblock %}
