{% extends "integration/base.html" %}

{% block main %}

<h3>Taxi <a href="{{ url_for('integration.operator_taxi_details', taxi_id=hail.taxi_id) }}">{{ hail.taxi_id }}</a> > Hail {{ hail.id }}</h3>

<table class="table table-striped">
  <tr>
    <th>Date de la course</th>
    <td>{{ hail.added_at.strftime('Le %d/%m/%Y à %H:%M:%S') }}</td>
  </tr>
  <tr>
    <th>Statut de la course</th>
    <td>{{ hail.status }}</td>
  </tr>
  <tr>
    <th>Longitude du client</th>
    <td>{{ hail.customer_lon|round(6) }}</td>
  </tr>
  <tr>
    <th>Latitude du client</th>
    <td>{{ hail.customer_lat|round(6) }}</td>
  </tr>
  <tr>
    <th>Adresse du client</th>
    <td>{{ hail.customer_address or "" }}</td>
  </tr>
  <tr>
    <th>Latitude du taxi lors de la demande</th>
    <td>{{ hail.initial_taxi_lon|round(6) }}</td>
  </tr>
  <tr>
    <th>Longitude du taxi lors de la demande</th>
    <td>{{ hail.initial_taxi_lat|round(6) }}</td>
  </tr>
  <tr>
    <th>Numéro tél. client</th>
    <td>{{ hail.customer_phone_number or "" }}</td>
  </tr>
  <tr>
    <th>Numéro tél. taxi</th>
    <td>{{ hail.taxi_phone_number or "" }}</td>
  </tr>
</table>

<h3>Changer le statut de la course</h3>

<p class="alert alert-warning">La mise à jour du statut n'est pas immédiate. Rafraichissez la page pour avoir le dernier statut à jour.</p>

{% if hail.status == 'received_by_operator' %}
<p>La demande de course a été reçue par le serveur d'API de l'opérateur. La demande est en attente d'être reçue par l'application du chauffeur.</p>

<div class="d-flex justify-content-between">
  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="received_by_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'received_by_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Changer le statut en received_by_taxi</button>
    </form>
  </div>
</div>

{% elif hail.status == 'received_by_taxi' %}
<p>La demande de course est arrivée sur l'application taxi, qui doit l'accepter ou la refuser.</p>

<div class="d-flex justify-content-between">
  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="accepted_by_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'accepted_by_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Accepter la course</button>
    </form>
  </div>

  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="declined_by_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'declined_by_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Refuser la course</button>
    </form>
  </div>

  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="incident_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'incident_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Déclarer un incident</button>
    </form>
  </div>
</div>

{% elif hail.status == 'accepted_by_taxi' %}
<p>La course a été acceptée par le taxi. Le client doit confirmer la demande de course. Il est possible de déclarer un incident pour annuler la demande.</p>

<div class="d-flex justify-content-between">
  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="incident_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'incident_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Déclarer un incident</button>
    </form>
  </div>
</div>

{% elif hail.status == 'accepted_by_customer' %}
<p>La course a été acceptée par le client. Le taxi se met en route pour aller le récupérer et en informer l'API.</p>

<div class="d-flex justify-content-between">
  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="customer_on_board" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'customer_on_board' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Changer le statut en customer_on_board</button>
    </form>
  </div>

  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="incident_taxi" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'incident_taxi' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Déclarer un incident</button>
    </form>
  </div>
</div>

{% elif hail.status == 'customer_on_board' %}
<p>Le client est à bord. La course est en cours. Le taxi peut informer l'API que la course est terminée.</p>

<div class="d-flex justify-content-between">
  <div>
    <form method="POST">
      <input type="hidden" name="{{ status_form.status.name }}" value="finished" />
      {{ status_form.hidden_tag() }}
      <button type="submit" class="btn btn-primary {% if status_form.status.data == 'finished' and status_form.errors %}btn-danger{% else %}btn-dark{% endif %}" value="submit">Terminer la course</button>
    </form>
  </div>
</div>

{% elif hail.status == 'finished' %}

<p>La course est terminée.</p>
{% endif %}

{% endblock %}
