{% extends "dashboards/base.html" %}

{% block main %}
<h3>Courses</h3>

<p>
  Ce graphique présente les courses de ces derniers jours et leurs statuts.
</p>

<div class="d-flex m-3">
  <canvas id="hailsChart"></canvas>
</div>

<div class="search-panel">
  <h5>Filtres</h5>
  <form class="d-flex flex-wrap" autocomplete="off">
    <div class="form-group">
      <label for="search_taxi_id">Taxi Id</label>
      <input data-filter-col="taxi_id" id="search_taxi_id" type="text" class="form-control" placeholder="Taxi id" />
    </div>
  </form>
</div>

<p>
  Ce tableau présente les courses gérées par votre application.
</p>

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Id course</th>
      <th>Date</th>
      <th>Operateur</th>
      <th>Moteur de recherche</th>
      <th>Id taxi</th>
      <th>Status final</th>
      <th>Distance client/taxi</th>
    </tr>
  </thead>
</table>
{% endblock %}

{% block scripts %}

var barChartData = {
  labels: [
{%- for date in status_stats.keys() | sort | reverse -%}
    '{{ date }}'{% if not loop.last %}, {% endif %}
{%- endfor -%}
  ],
  datasets: [
{% for status in all_status %}
    {
      label: '{{ status }}',
      data: [
  {%- for date, stats in status_stats.items() | sort | reverse -%}
        {{ stats.get(status, 0) }}{% if not loop.last %}, {% endif %}
  {%- endfor -%}
      ]
    }{% if not loop.last %}, {% endif %}
{%- endfor -%}
  ]
};

new Chart($('#hailsChart'), {
  type: 'bar',
  data: barChartData,
  options: {
    title: {
      display: true,
      text: 'Courses par statut'
    },
    tooltips: {
      mode: 'index',
      intersect: false
    },
    responsive: true,
    scales: {
      xAxes: [{
        stacked: true,
      }],
      yAxes: [{
        stacked: true
      }]
    },
    plugins: {
      colorschemes: {
        scheme: 'tableau.Tableau20'
      }
    }
  }
});

var table = $('#table').DataTable({
  language: {
    emptyTable: 'Aucune course',
    loadingRecords: 'Chargement en cours...',
    zeroRecords: 'Aucun résultat trouvé'
  },
  // Remove sorting.
  bSort: false,
  // Number of items per page.
  pageLength: 50,
  // Do not filter or paginate client side, send query for each draw.
  serverSide: true,
  // Elements to display for the table. Reference: https://datatables.net/reference/option/dom
  // tp: display 't'able and 'p'agination. Other default items (info, search
  // input, ...) are not displayed.
  sDom: 'tp',
  // API endpoint called.
  ajax: {
    url: "{{ url_for('api.hails') }}",
    dataSrc: 'data'
  },
  // Mapping between API response and columns.
  columns: [
    {
      data: 'id',
      render: function (data, type, row) {
        var url = "{{ url_for('dashboards.hails_details', hail_id='HAIL_ID') }}".replace('HAIL_ID', data);
        return '<a href="' + url + '">' + data + '</a>';
      }
    },
    {
      data: 'added_at',
      render: function (data, type, row) {
        return moment(data).format('DD/MM/YYYY HH:mm:ss');
      }
    },
    {
      render: function (data, type, row) {
        return row.operateur.commercial_name || '<i>' + row.operateur.id + '</i>';
      }
    },
    {
      render: function (data, type, row) {
        return row.moteur.commercial_name || '<i>' + row.moteur.id + '</i>';
      }
    },
    {name: 'taxi_id', data: 'taxi.id'},
    {data: 'status'},
    {
      data: 'distance',
      render: function (data, type, row) {
        return data + ' mètres';
      }
    },
  ]
});

// Iterate over inputs from search-panel, and call API to filter results.
$('.search-panel input').each(function() {
  $(this).on('keyup change clear', function() {
    if (this.value != table.column(this.dataset.filterCol).search()) {
      table.column(this.dataset.filterCol + ':name').search(this.value).draw();
    }
  });
});
{% endblock %}
