{% extends "dashboards/base.html" %}

{% block main %}
<h3>Courses par utilisateur jusqu'au {{ start.strftime('%d/%m/%Y') }}</h3>

<p>Cette page est uniquement accessible pour les administrateurs, et liste les courses effectuées par chaque utilisateur.</p>

<div class="search-panel">
    <h5>Filtres</h5>
    <form method="get">
        <label>Afficher les requêtes jusqu'au <input type="date" name="date" value="{{ start.strftime('%Y-%m-%d') }}"> inclus</label>
        <input type="submit" />
    </form>
</div>

{% for group in customers_requests | groupby('data.date') | reverse %}
<div class="card mt-3">
    <h3 class="card-header">{{ group.grouper.strftime('%d/%m/%Y') }}</h3>
    <div class="card-body">
        {% for req in group.list %}
        <div class="card mt-1 border-{{ 'success' if req.success else 'danger' }}">
            <div class="card-header text-{{ 'success' if req.success else 'danger' }}">
                Client&nbsp;: {{ req.data.customer_id }}
                &mdash;
                Course par&nbsp;: {{ req.added.commercial_name or req.added.email }}
            </div>
            <div class="card-body">
                <div class="card-columns">
                    {% for hail in req.data.hails %}
                    <div class="card">
                        <div class="card-header card-status-{{ 'success' if req.success else 'danger' }}">
                            {{ (hail.added_at | str_to_datetime).strftime('%H:%M:%S') }}
                            <br>
                            Opérateur&nbsp;: {{ hail.operator.commercial_name }}
                            <br>
                            {{ hail.status }}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Taxi:</strong> {{ hail.taxi_id }}</li>
                            <li class="list-group-item">
                                <a data-toggle="collapse" href="#hail-{{ hail.id }}" role="button">...</a>
                                <div id="hail-{{ hail.id }}" class="collapse card-content-details">
                                    <dl>
                                        {% for key, value in hail.items() %}
                                        <dt>{{ key }}:</dt>
                                        <dd>{{ value }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

<p><em>Note&nbsp;: seules les cinquante dernières courses sont affichées.</em></p>

{% endblock %}