{% extends "dashboards/base.html" %}

{% block main %}
<h3>Course {{ hail.id }}</h3>

<p>Les données ci-dessous contiennent les modifications effectuées sur la course <strong>{{ hail.id }}</strong>.</p>

{% if redis_error %}
    <p class="alert alert-danger">
      La connexion à la base de données a échoué. Si le problème persiste, veuillez le signaler à un administrateur.
    </p>
{% else %}
  {% for date, data in logs %}
  <table class="table descriptionTable">
    <thead class="thead-light">
      <tr>
        <th class="text-center" colspan="2">{{ data.method }} le {{ date.strftime('%d/%m/%Y %H:%M:%S') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Statut initial</th>
        <td>{{ data.initial_status }}</td>
      </tr>

      <tr>
        <th>Payload</th>
        <td>
          <a data-toggle="collapse" href="#payload{{ loop.index }}" role="button">Cliquer pour voir</a>
          <div id="payload{{ loop.index }}" class="collapse"><pre class="code">{{ data.payload|json }}</pre></div>
        </td>
      </tr>

      <tr>
        <th>Code de retour</th>
        <td>{{ data.code }}</td>
      </tr>

      <tr>
        <th>Payload de retour</th>
        <td>
          <a data-toggle="collapse" href="#return{{ loop.index }}" role="button">Cliquer pour voir</a>
          <div id="return{{ loop.index }}" class="collapse"><pre class="code">{{ data.return|json }}</pre></div>
        </td>
      </tr>

    </tbody>
  </table>
  {% else %}
  <p class="alert alert-danger">Aucune donnée de course sauvegardée</p>
  {% endfor %}
{% endif %}

{% endblock %}
